<div class="container">
  <label for="id">Project Id:</label>
  <input type="text" id="id" name="project_id" class="form-control" ngModel #project_id="ngModel">
  <label for="mname">Manager Name:</label>
  <input type="text" id="mname" name="manager_name" class="form-control" ngModel #manager_name="ngModel">
  <label for="memname">Member Name:</label>
  <input type="text" id="memname" name="member_name" class="form-control" ngModel #member_name="ngModel">
  <label for="emp">Employee Status:</label>
  <input type="text" id="emp" name="emp_status" class="form-control" ngModel #emp_status="ngModel">
  <input type="submit" value="Register" class="form-control">
  <input type="cancel" value="Reset" class="form-control">
</div>