<div class="container">
<div class="col-sm-4"></div>
<div class="col-sm-4"><br><br><h1 align="center">WELCOME ADMIN</h1><br><h2 align="center">Select one:</h2><hr>
  <div class="form-group">
    <input type="submit" value="Register Employee" class="btn btn-primary form-control" (click)="onregemp()">
  </div>
  <div class="form-group">
    <input type="submit" value="Register Project" class="btn btn-primary form-control" (click)="onregproj()">
  </div>
  <br><hr>
</div>
  <div class="col-sm-4"></div>
</div>